.landing{
    height: 34vw;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.55), rgba(0,0,0,0.55)),
        url('../../assets/landing-background.avif');
    margin: 30px auto;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 40px;
}


.landing-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: landingContentFadeIn 3s;
}

.landing-header{
   color: whitesmoke;
   font-size: max(4vw, 20px);
   font-weight: 500;
}

.landing-p{
    color: whitesmoke;
    font-size: 1vw;
    font-weight: 300;
}

.landing-button{
    background-color: #eaaf1b;
    border:none;
    color:whitesmoke;
    font-weight: 500;
    padding:1vw 2.3vw;
    font-size: max(1.05vw, 13.5px);
    border-radius: 50px;
    transition: 0.3s;
}

.landing-button:hover{
    background-color: tomato;
    cursor: pointer;
}

@media (max-width: 1024px){
    .landing-container{
        max-width: 45%;
    }
}

@media (max-width: 768px){
    .landing-container{
        max-width: 65%;
        gap: 2vw;
    }
    .landing-p{
        display: none;
    }
    .landing-button{
        padding: 2.2vw 4.4vw;
    }
}


@keyframes landingContentFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}