.reviews-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.reviews-title{
    font-size: max(1.5vw, 20px);
    color: #131313;
    font-weight: 500;
    text-align: center;
}

.reviews-swiper-container{
    width: 56%;
    box-shadow: 0 0 10px #cdcdcd;
    border-radius: 8px;
}

@media (max-width: 768px){
    .reviews-swiper-container{
        width: 100%;
    }
}