.location-picker-map{
    width: 100%;
    height: 350px;
}

.location-search {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 15px;
}

.cart-address-form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    place-self: center;
}

.cart-address-form input{

}

.cart-address-form-set-input{
    
}
