.change-password-popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.change-password-container{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: loginFadeIn 0.5s;
}

.change-password-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.change-password-popup-title h2{
    font-weight: 500;
    color: #313131;
    width: 80%;
}

.change-password-popup-title img{
    width: 16px;
    cursor: pointer;
}

.change-password-popup-info{
    text-align: center;
    margin: 4px 0;
}

.change-password-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.change-password-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.change-password-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.change-password-container button:hover{
    background-color: rgb(198, 75, 53);
}

.verify-mail-div{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 80px;
    border-radius: 8px;
    font-size: 14px;
    animation: loginFadeIn 0.5s;
}

.verify-mail-div h1{
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
}

.verify-mail-div button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.verify-mail-div button:hover{
    color: rgb(198, 75, 53);
}



@keyframes loginFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}