.cart{
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}

.cart-items-item{
    margin: 10px 0;
    color: black;
}

.cart-items-item img {
  width: 50px;
  height: 50px;
  object-fit: cover; 
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-cross{
    cursor: pointer;
    transition: 0.2s;
    font-size: max(1.2vw, 16px);
    display: inline-block;
}

.cart-cross:hover{
    color: tomato;
}

.cart-button-forward{
    border: none;
    color: white;
    background-color: tomato;
    padding: 12px 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

.cart-button-forward-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}


.cart-button-forward:hover{
    background-color: rgb(206, 76, 53);
}

.delivery-location{
    margin-top: 80px;
}

.delivery-location h2{
    font-size: max(1.5vw, 22px);
    color: #313131;
    font-weight: 500;
}

.delivery-location p{
    font-size: max(1.1vw, 16px);
    color: #717171;
    font-weight: 300;
    width: 80%;
    margin: 2px 0 20px 0;
}


.cart-address-form {
    background: #fff;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(147, 147, 147, 0.6);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cart-address-form p {
    margin: 0 0 6px 2px;
    font-size: 14px;
    font-weight: 500;
    color: #313131;
  }
  
  .optional-text {
    margin-top: 30px;
    color: #e85a4f;
    font-weight: 500;
    text-align: center;
  }
  
  
  .cart-address-form-one,
  .cart-address-form-two {
    display: flex;
    gap: 30px;
  }
  
  .cart-address-form-one-inner-div,
  .cart-address-form-two-inner-div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  
  .cart-address-form-set-input,
  .cart-address-form input[type="text"] {
    padding: 12px 14px;
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    font-size: 13px;
    transition: all 0.2s ease;
    color: #222;
    outline: none;
    box-shadow: inset 0 0 0 0 rgba(232, 90, 79, 0.2);
  }

  .cart-address-form input[type="text"]:focus {
    background: #fff;
    box-shadow: 0 0 0 2px rgba(232, 90, 79, 0.3);
  }

  .cart-address-form input.cart-address-form-set-input {
    background: rgb(243, 227, 227);
  }
  
  .form-address-button{
    border: none;
    color: white;
    background-color: #eaaf1b;;
    width: max(25vw, 200px);
    padding: 12px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    place-self: center;
  }

  .form-address-button:hover{
    background-color: #b58a1c;;
  }

  .cart-address-form-phone-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 20px;
  }

  .cart-address-form-phone-div input{
    padding: 12px 40px;
    width: 60%;

  }

  .cart-address-form-phone-div p{
    width: 60%;
    text-align: center;
  }

  
  
  @media (max-width: 768px) {
    .cart-address-form-one,
    .cart-address-form-two {
      flex-direction: column;
    }
    .cart-address-form{
        width: 90%;
        margin: 0 auto;
    }
    .cart-address-form-one p, .cart-address-form-two p{
        text-align: center;
        place-self: center;
    }
  
    .cart-address-form-phone-div input{
       width: 100%;
    }
  
  }
  



@media (max-width: 768px){
    .cart-items-title{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
        font-size: max(1vw, 11px);
    }    
    .cart-items-item p{
        margin: 0px 2px;
        width: 80%;
    }
    .cart-items-item-name{
        padding: 0px 4px;
        font-size: 10px;
    }
    .cart-items-item img {
      width: 40px;
      height: 40px;  
      object-fit: cover; 
    }
    .delivery-location{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }
    .delivery-location .delivery-location-p{
      align-self: flex-start;
    }
}