.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
    font-size: 14px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-content-left, .footer-content-center, .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left img{
    width: 80px;
}


.footer-content li{
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.2s;
}

.footer-content li:hover{
    cursor: pointer;
    color: tomato;
}

.footer-content a {
    color: inherit; 
    text-decoration: none; 
    }
    
.footer-content-right h2, .footer-content-center h2{
    color: white;
}


.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}

.footer-social-icons img:hover{
    cursor: pointer;
}

.footer hr{
    height: 2px;
    width: 100%;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

@media (max-width: 768px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-copyright{
        text-align: center;
    }
}
