@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    font-family: Zalando Sans SemiExpanded;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

#meniu,
#recenzii,
#contact,
#landing {
  scroll-margin-top: 120px; /* 100–200px as you prefer */
}

body{
  overflow-x: hidden;
}